@CHARSET "UTF-8";

body {
	font-family: 'メイリオ';
}

/* ロゴ class=logo */
#logo {
	color: blue; /* デバッグ用 */
	font-size: 42px;
	font-weight: bold;
}

h1 {
	color: red; /* デバッグ用 */
}

/* ナビゲーションバー class=navi */
ul#navi {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	background-color: blue;
	color: white;
}
ul#navi li {
	display: inline;
	margin: 10px;
}

/* 利用者情報一覧用 class=usertable */
table.usertable {
	color: red; /* デバッグ用 */
}
