@CHARSET "UTF-8";

body {
	font-family: 'メイリオ';
}
input {
	font-family: 'メイリオ';
}

/* ロゴ class=logo */
#logo {
	color: blue; /* デバッグ用 */
	font-size: 42px;
	font-weight: bold;
}
#logo a:LINK, #logo a:VISITED {
	text-decoration: none;
	color: blue; /* デバッグ用 */
	font-size: 42px;
	font-weight: bold;
}

h1 {
/* 	color: red; デバッグ用 */
	color: #6666ff;
	border-collapse: collapse;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

/* ナビゲーションバー class=navi */
ul#navi {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	background-color: blue;
	color: white;
}
ul#navi li {
	display: inline;
	margin: 10px;
}

ul#navi a:LINK, ul#navi a:VISITED {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

/* テーブル全般 */
table {
	border-width: 2px;
	border-collapse: collapse;
	margin-top: 5px;
	margin-bottom: 10px;
}
/* 交互に色をつける */
tr:nth-child(even) {
	background:#eeeeff;
}
tr:nth-child(odd) {
    background:#fafafa;
}
thead tr:nth-child(1) {
	color: white;
	background: #6666ff;
}
/* セルの中の設定 */
td,th {
	padding: 3px 5px;
}

/* 利用者情報一覧用 class=usertable */
table.usertable {
/* 	color: red; デバッグ用 */
}

/* 書籍情報一覧用 class=booktable */
table.booktable {
	color: red; /* デバッグ用 */
	border-color: red; /* デバッグ用 */
}

/* 延滞リスト表示用 class=overduetable */
table.overduetable {
/* 	color: red; デバッグ用 */
}

/* 利用者情報表示用 class=userinfotable */
table.userinfotable {
/* 	color: red; デバッグ用 */
}

/* 借りている本のリスト表示用 class=userbooktable */
table.userbooktable {
/* 	color: red; デバッグ用 */
}

/* トップページのリンク表示用 class=toppage_list */
table.toppage_list,
table.toppage_list tr,
table.toppage_list td,
table.toppage_list tr:nth-child(even),
table.toppage_list tr:nth-child(odd) {
/* 	color: red; デバッグ用 */
	background: none;
	border-width: 0;
	border-collapse: collapse;
	padding: 10px;
}

table.toppage_list td.setsumei {
	font-style: italic;
}

table.toppage_list a:LINK, ul#navi a:VISITED {
	text-decoration: none;
}


.form_text {
	float: left;
}

.form_textbox {
	float: left;
}

.form_submit_button {
/* 	float: left; */
	display: block;
	clear: both;
}

.form_submit_button_yoko {
	float: left;
	display: inline;
}

div.clearFloat {
	clear: both;
}

div.getUserNo {
	display: inline;
	font-size: 300%;
}

div.error_message {
	padding: 3px 10px 3px 10px;
	font-weight: bold;
	color: #660000;
	background-color: #dd8888;
	border-style: solid;
	border-collapse: collapse;
	border-color: #660000;
	border-width: 2px;
	margin: 10px;
}

div.updateMessage {
	padding: 3px 10px 3px 10px;
	font-weight: bold;
	color: #006600;
	background-color: #66dd66;
	border-style: solid;
	border-collapse: collapse;
	border-color: #006600;
	border-width: 2px;
	margin: 10px;
}
